html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	min-height: 100vh;
}

body {
    background:linear-gradient(-45deg, #ffb300 33%, transparent 0%),
        linear-gradient(-45deg, #512DA8 100%, transparent 33%);
}

h1 {
	text-align: center;
}
