@import url('https://fonts.googleapis.com/css?family=Catamaran:200,300,400,500,600,700,900');

html, body {
    font-family: 'Catamaran', sans-serif;
    font-size: 16px;
    min-height: 100vh;
    color: #fff;
}

body {
    background:linear-gradient(-45deg, #ffb300 33%, transparent 0%),
        linear-gradient(-45deg, #512DA8 100%, transparent 33%);
}

.container {
    padding-top: 3rem;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    margin-bottom: 30px;
    font-weight: 900;
}

.subtitle {
    font-size: 2rem;
    font-weight: 200;
    line-height: 45px;
}

.text-orange{
    color: #ffb300 !important;
}