@import url('https://fonts.googleapis.com/css?family=Catamaran:200,300,400,500,600,700,900');

html,
body {
  font-family: 'Catamaran', sans-serif;
  font-size: 16px;
  min-height: 100vh;
  color: #fff;
}

body {
  background: linear-gradient(-45deg, #ffb300 33%, transparent 0%),
    linear-gradient(-45deg, #512da8 100%, transparent 33%);
}

.container {
  margin-top: 0;
  padding-top: 3rem;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.title {
  margin-bottom: 30px;
  font-weight: 900;
}

.subtitle {
  font-size: 2rem;
  font-weight: 200;
  line-height: 45px;
}

.text-orange {
  color: #ffb300 !important;
}

/*---------------------------
  Blue Button
---------------------------*/

a.fb-message-blue {
  margin-top: 3rem;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background-color: #0084ff;
  border: 1px solid #0084ff;
  width: 127px;
  height: 35px;
  line-height: 35px;
  position: fixed;
  border-radius: 3px;
  outline: none;
  -webkit-transition: all ease 0.15s;
  -o-transition: all ease 0.15s;
  -moz-transition: all ease 0.15s;
  transition: all ease 0.15s;
}
a.fb-message-blue:hover {
  background-color: #2093ff;
  border: 1px solid #2093ff;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  /* transform: scale(1.15); */ /* uncomment to add zoom effect */
}
a.fb-message-blue:focus {
  background-color: #0084ff;
  border: 1px solid #0084ff;
  -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}

.fb-message-blue i {
  background-image: url('https://i.imgur.com/hjwozo7.png');
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: 7px 9px;
  top: -1px;
  height: 18px;
  width: 17px;
  padding: 10px 7px;
  float: left;
}

.left-pane {
  flex: 1;
}

.right-pane {
  display: none;
}

.phone-section {
  display: flex;
  justify-content: center;
}

.phone-screenshot {
  height: 450px;
  width: auto;
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
    padding-top: 6rem;
    margin-top: 3rem;
  }
  .right-pane {
    display: flex;
    flex: 1;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
    padding-top: 6rem;
    margin-top: 3rem;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
    padding-top: 6rem;
    margin-top: 3rem;
  }
}
